/*
Theme Name: Bootstrap Custom theme
Theme URI: http://www.asiliaafrica.com/east-africa-safari/kenya/greater-masai-mara/naboisho-camp/
Description: A theme i built from scratch as the base for asilia site
Author: Loyiso Ngqwebo
Author URI: http://www.asiliaafrica.com/
Version: 1.0
Tags: responsive, white, bootstrap

License: Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)
License URI: http://creativecommons.org/licenses/by-sa/3.0/

This simple theme was built using the example Bootstrap theme "Basic marketing site" found on the Bootstrap web site http://twitter.github.com/bootstrap/examples/hero.html
*/

@import url("bootstrap/css/bootstrap.css");

body { 
     padding-top: 60px; 
     padding-bottom: 40px; 
}
 